.Result
    position: fixed
    width: fit-content
    max-width: 300px
    height: fit-content
    margin: 0px
    padding: 5px 10px
    background-color: #EFEFEF
    border-radius: 15px
    border: 1px solid #707070
    box-shadow: 1px 2px 3px rgba(0,0,0,0.16);
    font: inherit
    font-size: large
    color: #6D3F3F
    z-index: 200
.Result:hover .result-dropdown
    display: block
    z-index: 600
.Result-1
    transform: translate(265px,-120px)
.Result-2
    transform: translate(280px,-20px)
.Result-3
    transform: translate(265px,80px)
.Result-4
    transform: translate(-265px,-120px)
.Result-5
    transform: translate(-280px,-20px)
.Result-6
    transform: translate(-265px, 80px)

.result-dropdown
    display: none
    margin-top: 5px
    padding: 3px
    position: absolute
    padding: 5px
    font: inherit
    font-size: small
    font-weight: 400
    width: 300px
    max-width: 300px
    height: fit-content
    background-color: #dfdfdf
    border: 1px solid black
    border-radius: 5px
    z-index: 300
