.modal {
  position: fixed;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 400px;
  height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 20%;
  left: 50%;
  padding: 10px;
  -webkit-transform: translateX(-210px);
          transform: translateX(-210px);
  z-index: 999;
}

.modal h1 {
  text-align: center;
}

.modal li {
  margin-bottom: 5px;
}

.modal .Button-alternate {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 110vh;
  z-index: 998;
  margin-top: -20px;
}
