.SearchBar {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  background-color: #f3f3f3;
  -webkit-transform: translateX(-105px);
          transform: translateX(-105px);
  border: none;
  border-bottom: 3px solid  #707070;
  padding: 5px;
  text-align: center;
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: larger;
  color: #6D3F3F;
}

.SearchBar:focus {
  outline: none;
}

.SearchBar:active {
  outline: none;
}
