.Footer
    position: absolute
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    bottom: -200px
    background-color: #383838
    color: #adadad
    font-weight: 300
    padding-top: 10px
    padding-bottom: 10px
.Footer p
    display: block
    margin: 15px 20px
@media (min-width: 550px) 
    .Footer
        flex-direction: row
        bottom: 0