.Buttons {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 57%;
  left: 50%;
  -webkit-transform: translateX(-140px);
          transform: translateX(-140px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Header {
  font: inherit;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5%;
}

.App {
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: larger;
  color: #6D3F3F;
}

body {
  background-color: #EAEAEA;
}

.logo {
  position: fixed;
  top: 23%;
  left: 50%;
  -webkit-transform: translateX(-85px);
          transform: translateX(-85px);
  z-index: 500;
}

.reroll {
  position: fixed;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}
