
.Buttons
    position: absolute
    display: flex
    flex-direction: column
    height: fit-content
    left: 50%
    top: 57%
    transform: translate(-50%,0)
.Buttons-top
    display: flex
.Buttons-bottom
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: -30px
.Header
    font: inherit
    font-size: 45px
    text-shadow: 2 px 2px 1px rgba(0,0,0,0.1)
    font-weight: bold
    text-align: center
    margin-top: 1vh
.App
    font-family: 'Segoe UI'
    font-weight: 600
    font-size: larger
    color: #6D3F3F
body
    background-color: #f3f3f3
    overflow: hidden
.logo
    position: fixed
    top: 21%
    left: 50%
    transform: translateX(-85px)
    z-index: 10
