.Buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.Buttons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Buttons-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

.Header {
  font: inherit;
  font-size: 50px;
  text-shadow: 2 px 2px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-align: center;
  margin-top: 1vh;
}

.App {
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: larger;
  color: #6D3F3F;
}

body {
  background-color: #f3f3f3;
  overflow: hidden;
  overflow-y: scroll;
}

.logo {
  display: none;
  position: fixed;
  top: 23vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.Logo-inner {
  height: 10vw;
}

@media (min-width: 950px) {
  .logo {
    display: block;
  }
}

@media (min-width: 550px) {
  .Buttons {
    top: 57%;
  }
}
