.Buttons
    position: fixed
    display: flex
    flex-direction: row
    top: 57%
    left: 50%
    transform: translateX(-140px)
    height: fit-content
.Header
    font: inherit
    font-size: 60px
    font-weight: bold
    text-align: center
    margin-top: 2.5%
.App
    font-family: 'Segoe UI'
    font-weight: 600
    font-size: larger
    color: #6D3F3F
body
    background-color: #f3f3f3
    overflow: hidden
.logo
    position: fixed
    top: 23%
    left: 50%
    transform: translateX(-85px)
    z-index: 500
.reroll
    position: fixed
    top: 65%
    left: 50%
    transform: translateX(-70px)